/* Formatting */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: white;
    background: #282c34;
}

h1 {
    font-weight: 900;
    color: white;
    font-size: 60px;
    text-align: center;
}

h2 {
    font-weight: 700;
    color: white;
    font-size: 40px;
    text-align: center;
}

p.spaced {
    line-height: 1.5;
}

p.small {
    font-size: 14px;
}

p.label {
    font-size: 13px;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 30px;
}

/* Classes */

.resume{
    padding: 20px;
    background: #002147;
}

.active {
    background-color: #191b20;
}

.navi {
    font-weight: 300;
    word-spacing: 0.5rem;
}

.navi a {
    padding: 0.25rem;
    text-decoration: none;
    font-size: 20px;
    color: grey;
    display: inline-block;
}

.navi a:hover {
    color: white;
}

.first {
    background: #006298;
}

.second {
    background: #002147;
}

.row {
    display: flex;
}

.col {
    padding: 0.5rem;
}

.deck {
    align-items: center;
    display: flex;
    padding: 1rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;

    background: #221C35;
    border-radius: 3rem;
    height: 500px;
    width: 500px;
    padding: 1rem;

    box-shadow: -1rem 0 2rem black;
    transition: 0.7s;
}

.card:hover {
    transform: translateY(-2rem);
}

@media (max-width: 1000px) {
    .deck {
        flex-direction: column;
    }
    .card {
        height: 400px;
        width: 300px;
        padding: 1rem;
    }
    .card:hover {
        transform: translateY(-0.5rem);
    }
  }

.switch {
    position: absolute;

    top: 1rem;
    right: 3rem;

    display: inline-block;
    width: 4.5rem;
    height: 2.5rem;
}

.switch input {
    opacity: 0;
}

.slider {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    cursor: pointer;
    background-color: grey;
    transition: 0.5s;
    border-radius: 2.5rem;
}

.slider:before {
    position: absolute;

    height: 2rem;
    width: 2rem;
    left: 0.25rem;
    bottom: 0.25rem;

    content: "";
    background-color: white;
    transition: .2s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: violet;
}

input:checked+.slider:before {
    transform: translateX(2rem);
}